@media (max-width: 1619px) {
  /* Main Menu Area css
	============================================================================================ */
  .header_area .navbar .search {
    margin-left: 40px;
  }
  /* End Main Menu Area css
	============================================================================================ */
  .testimonials_area .owl-prev,
  .testimonials_area .owl-next {
    right: 15px;
  }
}

@media (max-width: 1300px) {
  .testimonials_area .owl-prev,
  .testimonials_area .owl-next {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    top: auto;
  }
  .testimonials_area .owl-prev {
    transform: rotate(90deg);
  }
  .testimonials_area .owl-next {
    transform: rotate(90deg);
    margin-left: -40px;
  }
}

@media (max-width: 1199px) {
  /* Main Menu Area css
	============================================================================================ */
  .header_area .navbar .nav .nav-item {
    margin-right: 28px;
  }
  /* End Main Menu Area css
	============================================================================================ */
  /* Home Banner Area css
	============================================================================================ */
  /* .home_banner_area {
		min-height: 700px;
	} */
  .home_banner_area .banner_inner {
    min-height: 700px;
  }
  /* End Home Banner Area css
  ============================================================================================ */
  .latest_blog_inner {
    justify-content: center;
  }
}

@media (max-width: 1024px){
  .container-destacados {
    flex-wrap: wrap;
  }
}

@media (max-width: 991px) {
  .top_menu {
    display: none;
  }
  /* Main Menu Area css
	============================================================================================ */
  .navbar-toggler {
    border: none;
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;
    margin-top: 27px;
    margin-bottom: 23px;
  }
  .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
    opacity: 1;
  }
  .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
    opacity: 0;
  }
  .navbar-toggler[aria-expanded="true"] span:first-child {
    transform: rotate(-45deg);
    position: relative;
    top: 7.5px;
  }
  .navbar-toggler[aria-expanded="true"] span:last-child {
    transform: rotate(45deg);
    bottom: 6px;
    position: relative;
  }
  .navbar-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background: rgb(33, 78, 175);
    margin: auto;
    margin-bottom: 4px;
    transition: all 400ms linear;
    cursor: pointer;
  }
  .navbar .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav {
    padding: 0px 0px;
  }
  .header_area + section,
  .header_area + row,
  .header_area + div {
    margin-top: 71px;
  }
  .header_top .nav {
    padding: 0px;
  }
  .header_area .navbar .nav .nav-item .nav-link {
    line-height: 40px;
    margin-right: 0px;
    display: block;
    border-bottom: 1px solid #ededed33;
    border-radius: 0px;
  }
  .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
    line-height: 40px;
  }
  .header_area .navbar .search {
    margin-left: 0px;
  }
  .header_area .navbar-collapse {
    max-height: 340px;
    overflow-y: scroll;
  }
  .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
    padding: 0px 15px;
  }
  .header_area .navbar .nav .nav-item {
    margin-right: 0px;
  }
  /* End Main Menu Area css
	============================================================================================ */
  /* Blog page Area css
	============================================================================================ */
  .categories_post img {
    width: 100%;
  }
  .categories_post {
    max-width: 360px;
    margin: 0 auto;
  }
  .blog_categorie_area .col-lg-4 {
    margin-top: 30px;
  }
  .blog_area {
    padding-bottom: 80px;
  }
  .single-post-area {
    padding: 3rem 1.6rem !important;
  }
  .single-post-area h1 {
    text-align: center;
  }
  .single-post-area .blog_right_sidebar {
    margin-top: 30px;
  }
  .comments-area h6,
  .comments-area p {
    padding: 1.6rem;
  }
  /* End Blog page Area css
	============================================================================================ */

  .rector-info {
    padding: 0 2rem;
  }

  .rector-info p {
    text-align: justify;
  }

  /* Contact Page Area css
	============================================================================================ */
  .contact_info {
    margin-bottom: 50px;
  }
  /* End Contact page Area css
	============================================================================================ */
  .home_banner_area .donation_inner {
    margin-bottom: -30px;
  }
  .home_banner_area .dontation_item {
    max-width: 350px;
    margin: auto;
  }
  /* Footer Area css
	============================================================================================ */
  .footer-area .col-sm-6 {
    margin-bottom: 30px;
  }
  /* End End Footer Area css
	============================================================================================ */
  .finance_item {
    margin-bottom: 30px;
  }
  .finance_inner {
    margin-bottom: -30px;
  }
  .team_item {
    max-width: 263px;
    margin: 0px auto 30px;
  }
  .packages_text {
    margin-bottom: 50px;
  }
  .packages_item {
    max-width: 360px;
    margin: 0px auto 30px;
  }
  .packages_inner {
    margin-bottom: -30px;
  }
  .l_blog_item img {
    width: 100%;
  }
  .news_widget {
    padding-left: 0px;
  }
  .video_area {
    margin-top: 40px;
    float: none;
    display: block;
  }
  .video_area > img {
    width: 100%;
  }
  .c_details_list {
    margin-top: 30px;
  }
  .home_banner_area {
    height: inherit;
  }
  .top-container {
    flex-wrap: wrap;
  }
  .top-container .info-rector img {
    max-width: 100%;
  }
  .course-container .text-primary {
    padding: 1rem;
  }
  .portafolio-item .portafolio-text {
    transform: translateY(0%);
    text-align: center;
  }
}

@media (max-width: 767px) {
  .home_banner_area,
  .home_banner_area .banner_inner {
    min-height: max-content;
  }
  .home_banner_area .banner_inner .banner_content {
    margin-top: 0px;
  }
  .teachers-banner {
    min-height: 500px !important;
    padding: 0 0.5rem;
  }
  /* Blog Page Area css
	============================================================================================ */
  .blog_banner .banner_inner .blog_b_text h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .blog_info.text-right {
    text-align: left !important;
    margin-bottom: 10px;
  }
  /* End Blog Page Area css
	============================================================================================ */
  .home_banner_area .banner_inner .banner_content h3 {
    font-size: 30px;
  }
  .home_banner_area .banner_inner .banner_content p br {
    display: none;
  }
  .home_banner_area .banner_inner .banner_content h3 span {
    line-height: 45px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  /* Footer Area css
	============================================================================================ */
  .footer-bottom {
    text-align: center;
  }
  .footer-bottom .footer-social {
    text-align: center;
    margin-top: 15px;
  }
  /* End End Footer Area css
	============================================================================================ */
  .wd55 {
    width: 100%;
  }
  .courses_inner .courses_item img {
    width: 100%;
  }
  .wd44 {
    width: 100%;
  }
  .course_item img {
    width: 100%;
  }
  .container .card {
    width: calc(100% - 3rem);
  }
}

@media (max-width: 660px) {
  .builder_inner .builder_item {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .course_details_inner {
    padding: 0;
  }

  .course_details_inner div .nav li {
    margin: 0 !important;
  }

  .course_details_inner div .nav {
    flex-flow: column wrap;
  }

  .course_details_inner div .nav li a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container.table-container {
    padding: 0;
  }

  .table-container table th {
    font-size: 1rem;
  }

  .table-container table td {
    font-size: 0.8rem;
  }

  .blog-info-container {
    margin: 0 2rem;
  }
  .single-post-area .blog_details {
    padding: 0;
  }

  .blog_details {
    margin: 0;
    padding: 0;
  }

  .industrial-ofert-image {
    width: 100%;
  }
  .course_details_inner .tab-content .comments-area {
    display: flex;
    flex-direction: column;
  }
  .Name_Doce {
    text-align: center;
  }
  .list-title-space {
    min-width: 100px;
  }
  .teacher-email {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .teacher-email .list-title-space {
    min-width: 100%;
  }
  .teacher-email span {
    font-size: 4.5vmin;
  }
  .textoOLTI,
  .textoOLT {
    padding: 0 1.5rem;
  }
}

@media (max-width: 575px) {
  /* Home Banner Area css
	============================================================================================ */
  .home_banner_area .banner_inner .banner_content h2 {
    font-size: 28px;
  }
  .home_banner_area,
  .home_banner_area .banner_inner {
    min-height: max-content;
  }
  .blog_banner .banner_inner .blog_b_text {
    margin-top: 0px;
  }
  .home_banner_area .banner_inner .banner_content img {
    display: none;
  }
  .home_banner_area .banner_inner .banner_content h5 {
    margin-top: 0px;
  }
  /* End Home Banner Area css
	============================================================================================ */
  .p_120 {
    padding: 3rem 0;
  }
  .main_title {
    padding: 2rem;
    margin: 0;
    margin-bottom: 2rem;
  }
  .main_title h2 {
    font-size: 25px;
  }
  .p_120 .main_title,
  .team_area.p_120,
  .courses_area.p_120,
  .main_title.p_120 {
    padding: 0;
  }
  .container .card {
    margin: 20px auto;
  }
  .spacing {
    padding: 0 2.5rem;
  }
  .team_area {
    margin-bottom: 2rem;
  }
  /* Elements Area css
	============================================================================================ */
  .sample-text-area {
    padding: 70px 0 70px 0;
  }
  .generic-blockquote {
    padding: 30px 15px 30px 30px;
  }
  /* End Elements Area css
  ============================================================================================ */

  .comment-text-blockquote {
    padding: 0;
    line-height: 1.5rem;
    text-align: justify;
  }

  /* Blog Page Area css
	============================================================================================ */
  .blog_details h2 {
    font-size: 20px;
    line-height: 30px;
  }
  .blog_banner .banner_inner .blog_b_text h2 {
    font-size: 28px;
    line-height: 38px;
  }
  /* End Blog Page Area css
  ============================================================================================ */

  .caja-noticia {
    height: inherit;
    width: inherit;
  }

  /* Footer Area css
	============================================================================================ */
  .footer-area {
    padding: 70px 0px;
  }
  /* End End Footer Area css
	============================================================================================ */
  .pad_top {
    padding-top: 70px;
  }
  .footer-bottom {
    padding-top: 20px;
  }
}

@media (max-width: 480px) {
  /* Main Menu Area css
	============================================================================================ */
  .header_area .navbar-collapse {
    max-height: 250px;
  }
  /* End Main Menu Area css
	============================================================================================ */

  /* Home Banner Area css
	============================================================================================ */
  .home_banner_area .banner_inner .banner_content {
    padding: 30px 15px;
    margin-top: 0px;
  }
  .banner_content .white_btn {
    display: block;
  }
  .home_banner_area .banner_inner .banner_content h3 {
    font-size: 24px;
  }
  /* End Home Banner Area css
	============================================================================================ */
  .banner_area .banner_inner .banner_content h2 {
    font-size: 32px;
  }
  .home_banner_area,
  .home_banner_area .banner_inner {
    height: max-content;
  }
  .img-rector {
    /*Foto del rector*/
    height: auto;
    width: 250px;
    align-self: center;
    margin-left: 0.5rem;
  }
  .info-rector {
    padding: 0.5rem;
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .info-rectorimg {
    /*Nombre y cargo del rector*/
    margin-left: 0.5rem;
  }
  /* Blog Page Area css
	============================================================================================ */
  .comments-area .thumb {
    margin-right: 10px;
  }

  /* End Blog Page Area css
	============================================================================================ */
  .video_area .popup-youtube img {
    width: 15%;
  }
  .container.table-container {
    padding: 0 10px;
  }
}
